/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
          :root{
                --header-image: url('img/humbleapostrophe.jpg');
                --body-bg-image: url('No');

                /* colors */
                --content: #FCFCFC;
                --content: 
            }

            /* if you have the URL of a font, you can set it below */
            /* feel free to delete this if it's not your vibe */

            /* this seems like a lot for just one font and I would have to agree 
    but I wanted to include an example of how to include a custom font.
    If you download a font file you can upload it onto your Neocities
    and then link it! Many fonts have separate files for each style
    (bold, italic, etc. T_T) which is why there are so many!
    
    */

            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
            }

            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
                font-weight: bold;
            }

            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
                font-style: italic;
            }

            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
                font-style: italic;
                font-weight: bold;
            }

            body {
                font-family: Verdana, sans-serif;
                margin: 0;
                background-color: #e6e3e0;
                
                color: #150913;
                background-image: var(--body-bg-image);
            background-size: 100%;
            }

            * {
                box-sizing: border-box;
            }

            /* below this line is CSS for the layout */

            /* this is a CSS comment
    to uncomment a line of CSS, remove the * and the /
    before and after the text */


            /* the "container" is what wraps your entire website */
            /* if you want something (like the header) to be Wider than
    the other elements, you will need to move that div outside
    of the container */
            #container {
                max-width: 1300px;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
                margin: 0 auto;
                /* this centers the entire page */
                
            }

            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: #005432;
                font-weight: bold;
                /* if you want to remove the underline
      you can add a line below here that says:
      text-decoration:none; */
            }

            #header {
                width: 100%;
                background-color: #0f3127;
                /* header color here! */
                height: 300px;
                /* this is only for a background image! */
                /* if you want to put images IN the header, 
      you can add them directly to the <div id="header"></div> element! */
                background-image: var(--header-image);
                background-size: 20%;
            border:#f1f1f1;
                border-style: solid;
                border-width: 10px;
            }

            /* navigation section!! */
            #navbar {
                height: 50px;
                background-color: #0F3127;
                /* navbar color */
                width: 100%;
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            #navbar li {
                padding-top: 15px;
            }

            /* navigation links*/
            #navbar li a {
                color: #FCFCFC;
                /* navbar text color */
                font-weight: 800;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color: #FCFCFC;
                text-decoration: bold;
            }
                /* The dropdown container */
                #dropdown {
                float: left;
                overflow: hidden;
                }

                /* Dropdown button */
                #dropdown #dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: #05432e;
                padding: 14px 16px;
                background-color: inherit;
                margin: 0; /* Important for vertical align on mobile phones */
                }

                /* Add a red background color to navbar links on hover */
                #navbar a:hover, #dropdown:hover #dropbtn {
                background-color: #005432;
                }

                /* Dropdown content (hidden by default) */
                #dropdown-content {
                display: none;
                position: absolute;
                color: #FCFCFC;
                background-color: #05432e;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                }

                 /* Links inside the dropdown */
                #dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                }

                /* Add a grey background color to dropdown links on hover */
                #dropdown-content a:hover {
                background-color: #ddd;
                }

                /* Show the dropdown menu on hover */
                #dropdown:hover #dropdown-content {
                display: block;
                }
            #flex {
                display: flex;
            }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
            aside {
                background-color: #241445;
                width: 200px;
                padding: 20px;
                font-size: smaller;
                /* this makes the sidebar text slightly smaller */
            }


            /* this is the color of the main content area,
    between the sidebars! */
            main {
                background-color: #e6e3e0;
;
                flex: 1;
                padding: 20px;
                order: 2;
           border:#f1f1f1;
                border-style: solid;
                border-width: 10px;
             }

            /* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */

            * #leftSidebar {
                order: 1;
            border:#f1f1f1;
                border-style: solid;
                border-width: 10px;
            }

            footer {
                background-color: #0F3127;
            
                width: 100%;
                height: 100px;
                padding: 40px;
                margin: 0px;
                text-align: right;
               
            }

            h1,
            h2,
            h3 {
                color: #ED64F5;
            }

            h1 {
                font-size: 25px;
            }

            strong {
                /* this styles bold text */
                color: #ED64F5;
            }

            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: #13092D;
                border: 1px solid #ED64F5;
                padding: 10px;
            }

            /* CSS for extras */

            #topBar {
                width: 100%;
                height: 30px;
                padding: 10px;
                font-size: smaller;
                background-color: #13092D;
            }


            /* BELOW THIS POINT IS MEDIA QUERY */

            /* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 1000px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }
                
/* To learn more HTML/CSS, check out these "https://neocities.org/tutorials" */

